<html>
<head>
<script src="/static/jquery.min.js"></script>
<script src="/static/angular.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
      <link rel="stylesheet" href="/static/css/font-awesome.css" />
<script>
var app = angular.module('regForm', []);
app.controller('formCtrl', function($scope,$http) {
  $scope.students;
  $scope.title;
  $scope.description;
  $scope.lang;
  $scope.mentor;
  $scope.authkey;

  
    $scope.send = function()
  { var url="http://localhost:5000/base0/api/v1.0/projects?authkey="+$scope.authkey+
  "&title="+$scope.title+
  "&description="+$scope.description+
  "&lang="+$scope.lang+
  "&mentor="+$scope.mentor+
  "&students="+$scope.students;
  // {var url="http://www.w3schools.com/angular/customers.php";
    console.log(url);
    $http.get(url)
      .success(function(response) {console.log(response)});
  }
  

});
</script>

</head>
<body>
<!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fa fa-database"></i>Project Base</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                   <li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
                    <li><a href="#"><i class="fa fa-comment"></i> Feedback</a></li>
                    {% if not status %}
                      <li><a href="/register"><i class="fa fa-circle-o-notch"></i> Update Project</a></li>
                      <li><a href="/register"><i class="fa fa-upload"></i> Register Project</a></li>
                      <li><a href="/login"><i class="fa fa-key"></i>Login</a></li>
                    {% elif status %}
                      <li><a href="/approve"><i class="fa fa-thumbs-o-up"></i> Approve Project</a></li>
                      <li><a href="#"><i class="fa fa-check-square-o"></i> Evaluate Project</a></li>
                      <li><a href="/logout"><i class="fa fa-key"></i> Logout {{user}}</a></li>
                    {% endif %}
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->

</body>
</html>