<html>
<head>
<link rel="stylesheet" href="/static/bootstrap.min.css" />
      <link rel="stylesheet" href="/static/css/font-awesome.css" />

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src= "{{ url_for('static', filename='angular.min.js') }}"></script>
      <style type="text/css">
        .container-list{
          overflow: hidden;
        }
        .preview{
          background: none repeat scroll 0 0 white;
          border: thin solid #D51386;
          float: right;
          display:inline-block;
          overflow:auto;
          height:700px;
          width:50%;
          padding: 20px 10px;
          }
        .project-list {
          background: none repeat scroll 0 0 #E0F8F1;
          
          clear:left;
          float: left;
          overflow: auto;
          display:inline-block;
          padding: 20px 10px;
          height: 700px;
          width:50%;
          }
      </style>
</head>
<body>
<!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fa fa-database"></i>Project Base</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                   <li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
                    <li><a href="#"><i class="fa fa-comment"></i> Feedback</a></li>
                    {% if not status %}
                      <li><a href="/register"><i class="fa fa-circle-o-notch"></i> Update Project</a></li>
                      <li><a href="/register"><i class="fa fa-upload"></i> Register Project</a></li>
                      <li><a href="/login"><i class="fa fa-key"></i>Login</a></li>
                    {% elif status %}
                      <li><a href="/approve"><i class="fa fa-thumbs-o-up"></i> Approve Project</a></li>
                      <li><a href="#"><i class="fa fa-check-square-o"></i> Evaluate Project</a></li>
                      <li><a href="/logout"><i class="fa fa-key"></i> Logout {{user}}</a></li>
                    {% endif %}
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
<div ng-app="myApp" ng-controller="dashboardCtrl" class="container-fluid" data-ng-init="submit()">
    <div class="container-list"><div class="project-list">
    <table>
        <tr>
            <td colspan=2>
            <h2>Project List</h2>
            </td>
            <td>
            <button ng-click="bulkAction('approve')">Approve Selected</button>
            <button ng-click="bulkAction('disapprove')" >Disapprove Selected</button>
            </td>
        </tr>
        <tr ng-repeat="ap in projects">
        <td ng-click="select(ap._id)">
          <input type="checkbox">
        </td>
        <td>
        <i class="fa fa-thumbs-o-up fa-2x" ng-show="ap._source.approved"></i><i class="fa fa-clock-o fa-2x" ng-hide="ap._source.approved"></i><a href="#" ng-click=showdetail(ap)><span ng-bind=ap._source.title></span></a>
        </td>
        <td>
         <button ng-hide="ap._source.approved" ng-click="approve(ap._id)"><i class="fa fa-thumbs-up" ng-show="ap._source.approved"></i>Approve</button> 
         <button ng-show="ap._source.approved" ng-click="disapprove(ap._id)"><i class="fa fa-thumbs-down" ng-show="ap._source.approved"></i>Disapprove</button>
        </td>
        </tr>
    </table>
    </div>

    <div class="preview" id="detail" ng-show="clicked">
    <p>Title: </p><p ng-bind=title></p>
    <p>Description: </p><p ng-bind=description></p>
    <p>Languages Used: </p><p ng-bind=languages></p>
    <p>Members: </p><p ng-bind=students></p>
    <p>Mentor: </p><p ng-bind=mentor></p>
    <a ng-href={{synopsis}} ><i class="fa fa-external-link fa-2x"></i>Click Here To view Synopsis</a>
    </div>
    </div>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('dashboardCtrl', function($scope,$http) {
  $scope.projects;
  $scope.clicked=false;
  $scope.languages;
  $scope.students;
  $scope.mentor;
  $scope.approved;
  $scope.synopsis;
  $scope.selected=[];  
    $scope.select=function(id)
      {
        $scope.selected.push(id);
        console.log(JSON.stringify($scope.selected));
      }

    $scope.submit = function()
      { 
        var url="http://localhost:5000/base0/api/v1.0/projects/list";
        console.log(url);
        $http.get(url)
        .success(function(response) {
        $scope.projects = response.hits;
        console.log(JSON.stringify(response.hits));});
      
      }
  $scope.bulkAction = function(action)
    {
      var req = {
      method: 'POST',
      url: 'http://localhost:5000/base0/api/v1.0/projects/action',
      headers: {
      'Content-Type': "application/json"
      },
      data: { "action": action,
              "id":$scope.selected }
        }
      $http(req).success(function(res){console.log(res);}).error(function(){console.log("failed");});
    }

  $scope.approve = function(id)
    {
      var req = {
      method: 'POST',
      url: 'http://localhost:5000/base0/api/v1.0/projects/action',
      headers: {
      'Content-Type': "application/json"
      },
      data: { "action": "approve",
              "id":[id] }
        }
      $http(req).success(function(res){console.log(res);}).error(function(){console.log("failed");});
    }


 $scope.disapprove = function(id)
    {
      var req = {
      method: 'POST',
      url: 'http://localhost:5000/base0/api/v1.0/projects/action',
      headers: {
      'Content-Type': "application/json"
      },
      data: { "action": "disapprove",
              "id":[id] }
        }
      $http(req).success(function(res){console.log(res);}).error(function(){console.log("failed");});
    }
    $scope.showdetail=function(x)
    {
      $scope.title=x._source.title;
      $scope.description=x._source.description;
      $scope.languages=x._source.languages;
      $scope.students=x._source.students;
      $scope.mentor=x._source.mentor;
      $scope.approved=x._source.approved;
      $scope.synopsis=x._source.synopsis;
      $scope.clicked=true;
    }
});
</script>


</body>
</html>