<!-- index.html -->
    <!DOCTYPE html>
    <html>
    <head>
      <!-- SCROLLS -->
      <!-- load bootstrap and fontawesome via CDN -->

      <link rel="stylesheet" href="/static/bootstrap.min.css" />
      <link rel="stylesheet" href="/static/css/font-awesome.css" />

      <!-- SPELLS -->
      <!-- load angular and angular route via CDN -->
      <script src= "{{ url_for('static', filename='angular.min.js') }}"></script>
  <style>
  .container{
    width:90%px;
  }
      .results-li {
    background: #FAFAFA;
    padding: 20px;
    box-shadow: -4px 0 10px -6px rgba(0,0,0,0.4);
}
.detail {
    background: #fff;
    width: 60%;
    padding: 20px;
}
td {
  width:50%;
}


  </style>
     </head>
    <body>

        <!-- HEADER AND NAVBAR -->
        <header>
            <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><i class="fa fa-database"></i>Project Base</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/search"><i class="fa fa-search"></i> Search</a></li>
                    <li><a href="#"><i class="fa fa-comment"></i> Feedback</a></li>
                    {% if not status %}
                      <li><a href="/register"><i class="fa fa-circle-o-notch"></i> Update Project</a></li>
                      <li><a href="/register"><i class="fa fa-upload"></i> Register Project</a></li>
                      <li><a href="/login"><i class="fa fa-key"></i>Login</a></li>
                    {% elif status %}
                      <li><a href="/approve"><i class="fa fa-thumbs-o-up"></i> Approve Project</a></li>
                      <li><a href="#"><i class="fa fa-check-square-o"></i> Evaluate Project</a></li>
                      <li><a href="/logout"><i class="fa fa-key"></i> Logout {{user}}</a></li>
                    {% endif %}
                </ul>
            </div>
            </nav>
        </header>

        <!-- MAIN CONTENT AND INJECTED VIEWS -->
        
<div ng-app="myApp" ng-controller="projectsCtrl" class="container-fluid" data-ng-init="submit()"> 
<div class="col-lg-6 centered">
    <div class="input-group centered">
      <input type="text" ng-model=q class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="submit()" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div>
<br>
<br><br>
<table class="container" align=center>
<tr><td>
<div class="results" align=center>
<tr><td>
<ul class="list-unstyled">
  <li ng-repeat="x in projects">
    <div class="results-li">
    <a href="#" ng-click=showdetail(x)><span ng-bind=x._source.title></span></a>
    <p ng-bind=x._source.description>
    </p>
    </div>
    <br />
  </li>
</ul>
</div>
</td>
<td>

<div class="detail" id="detail"><span ng-bind=title></span>
    <p ng-bind=description></p></div>

</div>
</td></tr></table>
<script>
var app = angular.module('myApp', []);
app.controller('projectsCtrl', function($scope,$http) {
  $scope.q="";
  $scope.projects;
  
    $scope.submit = function()
  { var url="http://localhost:5000/base0/api/v1.0/projects/search?q=" + $scope.q;
  // {var url="http://www.w3schools.com/angular/customers.php";
    console.log(url);
    $http.get(url)
      .success(function(response) {
      $scope.projects = response.hits;

      console.log(JSON.stringify(response.hits));
    });
  }
  $scope.showdetail = function(x)
    {
      $scope.title=x._source.title;
      $scope.description=x._source.description;
      
    }

});
</script>


    </body>
    </html>